
<html>
<head>




</head>

<body>
<style>
  body {
    background-color: #ffec4e;
  }
</style>

<div class="mobile-app-icon-bar">
  <button><i class="fa fa-question-circle" aria-hidden="true"></i></button>
  <button><i class="fa fa-cog" aria-hidden="true"></i></button>
</div>

<div class="center jumbotron">


  <h1main>Welcome to PearUp! <br> <br></h1main>



  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">


 <!-- Form for the password/user entry below -->

  <form>
    <div class="form-icons">
      <div class="input-group">

        <input class="input-group-field" type="text" placeholder="Full name">
      </div>

      <div class="input-group">

        <input class="input-group-field" type="text" placeholder="Email">
      </div>

      <div class="input-group">

        <input class="input-group-field" type="password" placeholder="Password">
      </div>
      <button class="btn">Sign Up</button>
    </div>



  </form>




  <p1>Already Registered?</p1> <a class = "infbutton" href="#">Sign In</a>

</div>

</body>
</html>
