<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!--Navbar-->

<!--/.Navbar-->

<div class="logo">
  <%= image_tag "logofinal.png", :class=> "logo"%>
</div>


<div class="topphoto">
  <%= image_tag "profile.jpg", :class => "topphoto"%>
</div>

<div class="mobile-app-icon-bar2">

  <button><i class="fa fa-sliders" aria-hidden="true"></i></button>
  <button><i class="fa fa-commenting-o" aria-hidden="true"></i></button>

</div>

<main>
  <div class="container">
    <div class="row m-b-r m-t-3">
      <div class="col-md-2 offset-md-1">
        <%= image_tag "jared-sluyter-260692.jpg", :class => "profilepic"%>
      </div> </br> </br> </br> </br>
      <div class="col-md-9 p-t-2">
        <pname>@jony_ive</pname> </br>
        <pname2>Jony Ive</pname2> </br>


        <i class="fa fa-male" aria-hidden="true"></i>&nbsp<strong>Male</strong> &nbsp &nbsp
        <i class="fa fa-map-marker" aria-hidden="true">&nbsp</i><strong>Vancouver, Canada</strong>

      </div>
    </div>
  </div>

</main>

<div class="descr">
  "I am a retired photographer and documentary filmmaker"
</div>

<div class="interests">
  <div class="headeri">
    My Interests
  </div>


</div>




</body>

</html>