<div class="Rectangle-4b">
  <div class="container">
    <div class="row footer-slider-row">
      <div class="col-md-4 footer-slider">
        <font color = #cecece> LOCATION</font> </br> </br>
        <font color = #282828> Great Northern Way</font> </br>
        <font color = #4990e2> <a>Change</a></font>
      </div>
      <div class="col-md-4 footer-slider">
        <font color = #cecece> LANGUAGE</font> </br> </br>
        <font color = #282828> English</font> </br>
        <font color = #4990e2> <a>Modify</a></font>
      </div>
      <div class="col-md-4 footer-slider-last">
        <font color = #cecece> GENDER</font> </br> </br>
        <font color = #282828> All</font> </br>
        <font color = #4990e2> <a>Modify</a></font>
      </div>
    </div>
  </div>
</div>
