// Title CSS and fonts


/* universal */

@import "foundation_and_overrides";



body {
  padding-top: 30px;
  color: #38CCf0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 90px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1main {
  color: #38CCf0;
  font-size: 3.5em;
  letter-spacing: -0.5px;
  margin-bottom: 80px;
  transform: translateY(70%);
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}

//h1 {
 // font-size: 3em;
  //letter-spacing: -2px;
  //margin-bottom: 30px;
  //transform: translateY(80%);
  //text-align: center;
  //font-color: #38CCf0;
  //font-weight: bold;
//}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #38CCF0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 4.7em;
  color: #38CCF0;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#logo:hover {
  color: #38CCF0;
  text-decoration: none;
}







// Form for Username/Psswrd below


form {
  .form-icons {
    text-align: center;

    h4 {
      margin-bottom: 1rem;

    }

    .input-group-label {
      background-color: #38CCF0;
      border-color: #38CCf0;
      max-width: 24%;
      transform: translateX(150%);


    }

    .input-group-field {
      border-color: #38CCf0;
      max-width: 25%;
      transform: translateX(150%);


    }
    .infbutton {
      font-size: 0.5em;
      text-color: #38CCF0;
    }

    .p1 {
      font-color: #38CCF0;
    }

    .fa {
      color: white;
      width: 1rem; // makes the width of icon labels equal
    }

    .btn {
      -webkit-border-radius: 60;
      -moz-border-radius: 60;
      border-radius: 60px;
      font-family: Arial;
      color: #38ccf0;
      font-size: 21px;
      padding: 10px 20px 10px 20px;
      border: solid #38cbf0 4px;
      text-decoration: none;
      background: #ffffff;
    }

    .btn:hover {
      background: #000000;
      text-decoration: none;
    }

  }
}









// Menu button/blowout

$mobile-app-icon-bar-bg: $white;
$mobile-app-icon-bar-icon-size: 3.5rem;

.mobile-app-icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;

  button {
    padding: 1.25rem;
    cursor: pointer;
    background-color: #38CCf0;

    svg,
    i,
    img {
      font-size: $mobile-app-icon-bar-icon-size;
      max-height: $mobile-app-icon-bar-icon-size;
      max-width: $mobile-app-icon-bar-icon-size;
      background-color: #38CCf0;
    }
  }
}







// profile for individuals
body {
  background:#eee;
}

html,
body,
.view {
  height:100%;
}

.navbar-brand {
  color:#fff !important;
}

.profile-photo {
  width:48px;
  height:auto;
}

.flex-menu {
  display:flex;
}

.flex-menu li:not(:last-child) {
  margin-right:40px;
}

.img-circle {
  border-radius: 50%;
}

.profilepic{
  object-fit: cover;
  width: 250px;
  height: 250px;

  transform: translateY(30%);
}


pname{
  position:relative;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}

pname2{
  position: relative;
  text-align: center;
  font-size: 180%;
  font-weight: italic;
}

$mobile-app-icon-bar-bg2: #38ccf0;
$mobile-app-icon-bar-icon-size2: 4rem;

.mobile-app-icon-bar2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #38cbf0;

  button {
    padding: 1.25rem;
    cursor: pointer;
    background-color:#38cbf0;

    svg,
    i,
    img {
      font-size: $mobile-app-icon-bar-icon-size2;
      max-height: $mobile-app-icon-bar-icon-size2;
      max-width: $mobile-app-icon-bar-icon-size2;
      background-color: #38cbf0;
    }
  }
}


.descr{
  font-style: italic;
  font-size: 350%;
  position: fixed;
  left: 41%;
  top: 19%;

}


.logo{
  width: 67.5px;
  position: fixed;
  left: 13px;
  top: 8.5px;
  object-fit: contain;
}


.topphoto{
  position: fixed;
  object-fit: cover;
  width: 20px;
  height: 20px;
  left: 607px;
  top: 7px;

}